.table-row {
  margin-top: 10px;
}

.sortable-header:hover {
  cursor: pointer;
  color: gray;
}

.arrow-icon {
  display: block;
  margin: auto;
  color: green;
}
.filter-row {
  margin-top: 10px;
}
.img-row {
  min-height: 250px;
  text-align: center;
}
img {
  margin-left: 10px;
  height: 25px;
  width: 25px;
}
.small-row-align-center {
  min-height: 50px;
  text-align: center;
}
