.header-col {
  text-align: center;
}

.btn-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.table-container {
  padding-top: 0;
}

.table-row {
  max-height: 60vh !important;
}

@media only screen and (max-width: 360px) {
  .historical-table th,
  .historical-table td {
    font-size: 0.5rem !important;
  }
}
